body {
    width: 1000px;
    margin: auto;
}

ul,li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

div,p,ul,li,dl,dt,dd{
    padding: 0;
    margin: 0;
}


.header {
    padding: 50px 0;
    font-size: 30px;
    text-align: center;
}

/* モーダル */

.modal {
    padding: 100px 0;
}

.modal__button {
    width: 300px;
    padding: 20px 0;
    margin: auto;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    transition: .3s cubic-bezier(0.5, 1, 0.89, 1);
    background: #ff701e;
    color: #fff;
}

.modal__button:hover {
    background: #fff;
    color: #ff701e;
    border: 2px solid #ff701e;
    letter-spacing: 0.15em;
}

.modal__mask {
    display: none;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
}

.modal__contents {
    display: none;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 500px;
    padding: 30px 50px;
    text-align: center;
}

.modal__contents-close {
    width: 200px;
    margin: 30px auto 0;
    border: 1px solid #000;
}

.modal__contents-close:hover {
    opacity: 0.8;
}

.modal-active {
    display: block;
    overflow: hidden;
}



/* accordion */
.accordion__title {
    width: 1000px;
    font-size: 30px;
    padding: 0 0 10px;
    border-bottom: 1px solid #000;
}

.accordion__title-02 {
    margin: 50px 0 0;
}

.accordion__item-list + .accordion__item-list {
    margin: 40px 0 0;
}

.accordion dt {
    position: relative;
    font-size: 25px;
    padding: 10px;
    background: silver;
}


.accordion dt::before {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
    background: #000;
    width: 15px;
    height: 2px;
    content: "";
}

.accordion dt::after {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%) rotate(90deg);
    background: #000;
    width: 15px;
    height: 2px;
    content: "";
    transition: transform 0.4s;
}

.accordion dd {
    display: none;
    margin: 30px 0 0;
    padding: 0 0 0 10px;
    font-size: 20px;
}

.accordion dd::before {
    content: "A. ";
}


.accordion .accordion-active > dd {
    display: block;
    animation: .4s fadeIn;
}

.accordion .accordion-active > dt::after {
    transform: translate(0, -50%) rotate(0deg);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0, -20px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

/* スライダー */
.slider {
    position: relative;
}

.slider__container {
    position: relative;
    margin: auto;
    width: 800px;
    height: 500px;
    overflow: hidden;
}

.js-slider {
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    /* transition: transform 0.3s; */
}

.js-slider-slid {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background: orange;
    min-width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background: #000;
    opacity: 0.8;
    font-size: 24px;
}

.prev {
    left: 40px;
}

.next {
    right: 40px;
}

.hidden {
    display: none;
}

nav {
    margin: 10px 0 0;
    text-align: center;
}

button {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background: #ddd;
}

button + button {
    margin: 0 0 0 20px;
}

.dots {
    background: #999;
}


/* タブメニュー */
.tab {
    width: 700px;
    margin: 0 auto;
    padding: 100px 0;
}

.tab__menu {
    display: flex;
    justify-content: center;
}

.tab__menu-item {
    width: 150px;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px 10px 0 0;
}

.tab__menu-item + .tab__menu-item {
    margin: 0 0 0 -1px;
}

.tab__menu-item-link {
    display: block;
}

.tab__content {
    width: 700px;
    height: 400px;
}

.tab__content-item {
    display: none;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
}

.tab__menu-item:not(.tab__active):hover {
    opacity: 0.5;
    transition: opacity 0.4s;
}

.tab__active {
    display: block;
    background: #333;
    color: #fff;
}

